<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Inclusão Noticias</title>
</head>
<body>
    <h1>Inclusão Noticias</h1>
    <br />

    <form action="/noticias/salvar" method="post">
        <label>Titulo</label>
        <input type="text" id="titulo" name="titulo" placeholder="Titulo da noticia"/>
        <br/>
        <label>Resumo</label>
        <input type="text" id="resumo" name="titulo" placeholder="Resumo"/>
        <br/>
        <label>Nome autor</label>
        <input type="text" id="autor" name="autor" placeholder="Autor da noticia"/>
        <br/>
        <label>Data dos Fatos</label>
        <input type="date" id="data_noticia" name="data_noticia" placeholder="Data noticia"/>
        <br/>
        <label>Noticia</label>
        <textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
        <br/>
        <input type="submit" value="Send" />
    </form>
    
</body>
</html>